# SPDX-FileCopyrightText: 2024 Red Bee Media Ltd <https://www.redbeemedia.com/>
#
# SPDX-License-Identifier: MIT

[submodule "core"]
	path = core
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidCore
[submodule "exoplayerintegration"]
	path = exoplayerintegration
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidExoPlayerIntegration
[submodule "tutorialApps"]
	path = tutorialApps
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidTutorialApps
[submodule "exposureUtils"]
	path = exposureUtils
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidExposureUtils
[submodule "internalTestUtils"]
	path = internalTestUtils
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidInternalTestUtils
[submodule "cast"]
	path = cast
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidCast
[submodule "experimentalLowLatency"]
	path = experimentalLowLatency
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidExperimentalLowLatency.git
[submodule "download"]
	path = download
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidDownload.git
[submodule "exoPlayerDownload"]
	path = exoPlayerDownload
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidExoPlayerDownload.git
