[submodule "core"]
	path = core
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidCore
[submodule "exoplayerintegration"]
	path = exoplayerintegration
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidExoPlayerIntegration
[submodule "tutorialApps"]
	path = tutorialApps
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidTutorialApps
[submodule "exposureUtils"]
	path = exposureUtils
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidExposureUtils
[submodule "internalTestUtils"]
	path = internalTestUtils
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidInternalTestUtils
[submodule "cast"]
	path = cast
	url = https://github.com/EricssonBroadcastServices/EnigmaRiverAndroidCast
